/*  */ /* NOTE:  */ /* *: */ /* !: */ /* ?: */
/*  */ /* TODO:  */ /* REVIEW:  */ /* FIXME:  */
/*  */ /* SECTION:  */ /* STUB:  */ /* ANCHOR:  */



@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
/* Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
/* Neutral */
    --dark-grayish-red: hsl(0, 6%, 24%);
    --light-red: hsl(0, 80%, 86%);
    --dark-red: hsl(0, 74%, 74%);
    --off-red: hsl(0, 18%, 83%);
/* Gradients */
    --light-blend: linear-gradient(
        135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)
    );
    --red-blend: linear-gradient(
        135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)
    );
    --highlight-blend: linear-gradient(
        135deg, hsl(0, 100%, 98%), hsl(0, 80%, 86%)
    );
    /* 135deg, c1, c2 */
/* Fonts */
    --josefin-sans: "Josefin Sans", sans-serif;
}



*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%; height: 100%;
    font: 1rem var(--josefin-sans);
}

/*  */

body {
    /* background: var(--light-blend); */
    /* background:#eee; */
    color: #333;
    line-height: 1;
    letter-spacing: .05em;
    /* text-align: center; */
    position: relative;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    /* align-items: center; */
}

section { flex: 1 1 auto; }

.container-wrapper {
    max-width: 650px;
    /* max-width: 1080px; */
    height: 100%;
    margin: 0 auto;
}

/*  */

textarea { resize: none; }

button * { pointer-events: none; }

img { vertical-align: bottom; }

ol, ul { list-style: none; }

a:has(i) { letter-spacing: 0; }

a {
    text-decoration: none;
    color: inherit;
}

blockquote, q { quotes: none; }

blockquote::before,
blockquote::after,
q::before, q::after
{ 
    content: ''; 
    content: none; 
}

table {
    border-collapse: collapse; 
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

input,
select,
textarea,
button,
input[type="button"],
input[type="submit"]
{ 
    font: inherit;
	white-space: inherit;
    letter-spacing: inherit;
    display: inline-block;
    border: none;
}

button,
input[type="button"],
input[type="submit"]
{ cursor: pointer; }

input[type="checkbox"],
input[type="radio"] 
{
    cursor: pointer;
    width: 1rem; height: 1rem;
    vertical-align: bottom;
    /* display: none; */
}

input:focus,
button:focus,
select:focus,
textarea:focus
{ outline: none; }

noscript {
    display: block;
    margin: 1em 0;
}

/*  */

[hidden] { display: none; }
[disabled] { background: #000; }

/* 
1200px+      (large screens)
900px-1200px (tablet landscape)
600px-900px  (tablet portrait)
0-600px      (phones)
*/

/* 
- Mobile: 375px
- Desktop: 1440px
*/